<div class="main">
  <% @posts.each do |post| %>
    <div class="post">
      <h2><%= post.title %></h2>
      <p><%= truncate(post.body, :length => 100) %></p>
      <br>
      <%= link_to "Read Post", post %>
    </div>
  <% end %>
</div>

<div class="aside">
  <p>Recent posts</p>
  <% @posts.each do |post| %>
    <%= link_to post.title, post %>
  <% end %>
</div>
