// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	margin: 5px;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
}

.header {
	text-align: center;
  background-color: #c4deef;
  border-radius: 10px 10px 0px 0px;
	line-height: 100px;
}

.header h1 {
	font-family: 'Verdana', sans-serif;
	font-size: 50px;
	margin: 5px 0px;
}

.nav {
	margin-left: 0px;
}

.nav a {
	font-family: Verdana;
	display: inline;
}

.nav a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav a:hover, a:active {
    background-color: green;
    color: white;
}


.main h2 {
	font-family: Verdana;
	font-size: 24px;
}
.main {
	width: 75%;
	float: left;
}

.post {
	border: 1px dashed green;
	margin: 10px 0px;
	padding: 10px 10px;
}

.post a {
	text-decoration: none;
	color: green;
}

.post a:hover {
	color:red;
	text-decoration: underline;
}

.main p {
	font-family: Verdana;
	background-color: #fcfcfc;
}

.aside {
	float: right;
	background-color: #fcfcfc;
	width: 25%;
	height: 100%;
	margin: 10px 0px;
	text-align: center;
}

.aside a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px;
}

.aside a:hover {
	color:red;
	text-decoration: underline;
}

.aside p {
	text-style: bold;
}

.footer {
	padding: 10px;
	background-color: #c4deef;
	border-radius: 0px 0px 10px 10px;
	font-family: Verdana;
	margin-top: 5px;
	clear: both;
}

.abottom {
	clear: both;
}

.edit a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
		display: inline;
		float: left;
		margin: 5px 10px 5px 0px;
}

.delete a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
		display: inline;
		float: left;
		margin: 5px 10px 5px 0px;
}

.edit a:hover, a:active {
    background-color: green;
    color: white;
}

.delete a:hover, a:active {
    background-color: red;
    color: white;
		border: 2px solid red;
}
